* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 1rem;
    background: white;
    z-index: 3;
    border-bottom: 0.1rem solid black;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-size: 1.5rem;
}

nav ul li a {
    margin-right: 2rem;
    text-decoration: none;
    color: black;
    display: inline-block;
    position: relative;
}

@media screen and (min-width: 668px) {
    .nav-hover::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -5px;
        left: 0;
        background-color: black;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    
    .nav-hover:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}
.logo {
    flex: 1;
    align-self: flex-start;
}

.logo a {
    font-family: 'PT Serif', serif;
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
    color: black;
}


.drop-down {
    display: flex;
}

.drop-down .nav-rs:last-child a {
    margin-right: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}


.hero-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;
}

.hero-banner .hero-img {
    display: block;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

.shade {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hero-text {
    position: absolute;
    z-index: 2;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero-text h1 {
    font-family: 'PT Serif', serif;
    font-size: 7.5rem;
    font-weight: 600;
}

.hero-text p {
    font-family: 'PT Serif', serif;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
}

.hero-text a {
    margin-top: 1.5rem;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    border: 0.25rem solid white;
    font-family: 'PT Serif', serif;
    font-size: 1.5rem;
    font-weight: 400;
    background-color: black;

    
    animation: home-button 2s infinite alternate ease-in-out;
    transition: 0.25s ease-in-out;
}

.hero-text a:hover {
    padding: 0.5rem 12rem;
}

@keyframes home-button {
    from {
        background-color: rgba(0, 0, 0, 1);
    }

    to {
        background-color: rgba(0, 0, 0, 0);
    }
    
}

.ornament {
    width: 150%;
    margin: 1.5rem 0;
}

section {
    margin: 4rem 15rem;
}

section h2{
    text-align: center;
    margin: 2rem 0;
    font-size: 4rem;
}

section p {
    font-size: 1.5rem;
    text-align: justify;
}

section .gallery-1 {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

section .gallery-1 img {
    display: block;
    gap: 10px;
    max-width: 470px;
}

section .gallery-2 {
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
}

section .gallery-2 img {
    display: block;
    max-width: 714.5px;
}

footer {
    padding: 1rem;
    text-align: center;
    border-top: 0.1rem solid black;
}

footer ul {
    list-style: none;
}

section h3{
    text-align: center;
    margin: 10rem 2rem 6rem 2rem;
    font-size: 3rem;
    
    font-family: 'PT Serif', serif;
}

section h4{
    margin-bottom: 2rem;
    font-size: 2rem;
}

.pillar-section {
    display: flex;
    margin: 0 15rem;
}

.text-section , .image-section {
    width: 50%;
}

.text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tsr {
    padding-right: 50px;
}

.tsl {
    padding-left: 50px;
}

.image-section {
    height: 500px;
    object-fit: cover;
}

.base-section {
    display: flex;
}

.base-text, .base-image {
    width: 50%;
}

.base-text h4 {
    margin-top: 4rem;
}

.base-text p {
    padding-right: 2rem;
}

.base-image {
    position: sticky;
    height: 500px;
    top: 325px;
    background-size: cover;
    animation: change-image 50s infinite;
}

@keyframes change-image {
    0% { background-image: url(slike/u-s17.jpg); }
    10% { background-image: url(slike/u-s18.jpg); }
    20% { background-image: url(slike/u-s19.jpg); }
    30% { background-image: url(slike/u-s20.jpg); }
    40% { background-image: url(slike/u-s21.jpg); }
    50% { background-image: url(slike/u-s22.jpg); }
    60% { background-image: url(slike/u-s23.jpg); }
    70% { background-image: url(slike/u-s24.jpg); }
    80% { background-image: url(slike/u-s25.jpg); }
    90% { background-image: url(slike/u-s26.jpg); }
    100% { background-image: url(slike/u-s27.jpg); }
}


.form-field {
    display: flex;
    flex-direction: column;
    width: 50%;
}

form input, select, textarea {
    width: 85%;
}

textarea {
    resize: none;
    margin-bottom: 0.5rem;
}

h5 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.form-field h5:nth-child(10) {
    margin-top: 2rem;
}

form label {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
}

form input {
    margin-bottom: 0.25rem;
}

form input[type="submit"] {
    font-size: 1.75rem;
    
    background-color: white;
    color: black;
    transition: 0.5s;
    padding: 0.75rem;
}

form input[type="submit"]:hover {
    background-color: black;
    color: white;
}

.form-decoration {
    width: 50%;
}

.form-decoration img {
    width: 100%;
    object-fit: contain;
    position: sticky;
    top: 30%;
}

form {
    display: flex;
}
